/* roboto-regular - latin */
@font-face {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 400;
 src: local(''),
  url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/roboto-v30-latin-regular.woff') format('woff');
 /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 500;
 src: local(''),
  url('../fonts/roboto-v30-latin-500.woff2') format('woff2'),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/roboto-v30-latin-500.woff') format('woff');
 /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 src: local(''),
  url('../fonts/roboto-v30-latin-700.woff2') format('woff2'),
  /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/roboto-v30-latin-700.woff') format('woff');
 /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* hind-madurai-regular - latin */
@font-face {
 font-family: 'Hind Madurai';
 font-style: normal;
 font-weight: 400;
 src: local(''),
      url('../fonts/hind-madurai-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/hind-madurai-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-madurai-600 - latin */
@font-face {
 font-family: 'Hind Madurai';
 font-style: normal;
 font-weight: 600;
 src: local(''),
      url('../fonts/hind-madurai-v11-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/hind-madurai-v11-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* hind-madurai-700 - latin */
@font-face {
 font-family: 'Hind Madurai';
 font-style: normal;
 font-weight: 700;
 src: local(''),
      url('../fonts/hind-madurai-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/hind-madurai-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* fredoka-one-regular - latin */
@font-face {
 font-family: 'Fredoka One';
 font-style: normal;
 font-weight: 400;
 src: local(''),
      url('../fonts/fredoka-one-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/fredoka-one-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}